---
theme: penguin
layout: intro
transition: slide-left
coverAuthor: {{ author | default("Unknown Author") }}
coverAuthorUrl: {{ authorUrl | default("") }}
---

# {{ title }}
{% if subtitle %}## {{ subtitle }}{% endif %}
