---
theme: penguin
layout: intro
transition: fade
highlighter: shiki
---

# {{ title }}
{% if subtitle %}{{ subtitle }}{% endif %}


<div class="pt-12">
  <span @click="next" class="px-2 p-1 rounded cursor-pointer hover:bg-white hover:bg-opacity-10">
    Press Space for next page <carbon:arrow-right class="inline"/>
  </span>
</div>