---
theme: default
layout: cover
transition: slide-left
author: {{ author | default("Unknown Author") }}
authorUrl: {{ authorUrl | default("") }}
background: {{ backgroundUrl | default("") }}
---

# {{ title }}
{% if subtitle %}## {{ subtitle }}{% endif %}
