---
theme: frankfurt
layout: cover
transition: slide-left
coverAuthor: {{ author | default("Unknown Author") }}
coverAuthorUrl: {{ authorUrl | default("") }}
coverBackgroundUrl: {{ backgroundUrl | default("") }}
---

# {{ title }}
{% if subtitle %}## {{ subtitle }}{% endif %}
